* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #ece9e6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile__container {
  background-color: #fff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: rgb(138, 129, 141);
  font-size: 1.5rem;
  margin-left: 10px;
}

.favorite__container {
  background-color: rgb(243, 225, 255);
  padding: 0.25rem 1rem;
  text-align: center;
}

.favorite__meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.favorite__meals li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}

.favorite__meals li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.favorite__meals li:hover .clear {
  opacity: 1;
}

.favorite__meals li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
}

.favorite__meals li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  cursor: pointer;
  margin: 1.5rem;
  overflow: hidden;
}

.meal__header {
  position: relative;
}

.meal__header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal__header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal__body h4 {
  margin: 0;
}

.search__btn {
  cursor: pointer;
}

.meal__body .favorite__btn {
  border: none;
  background-color: transparent;
  color: rgb(197, 188, 188);
  cursor: pointer;
  font-size: 1.2rem;
}

.meal__body .favorite__btn.active {
  color: rebeccapurple;
}

.popup__container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup__container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-height: 100vh;
  max-width: 600px;
  width: 100%;
}

.popup .close__popup--btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.meal__info h1 {
  text-align: center;
}
